{% extends 'base.html'  %}
{% load static %}
{% block title  %}pharmacology{% endblock %}
{% block content %}
<center>
<h1 style="color: #0fb3cf;">History pharmacology</h1>
<br>
<p>
    The history of pharmacy as an independent science dates back to the first third of the 19th century. Before then, pharmacy evolved from antiquity as part of medicine. The history of pharmacy coincides well with the history of medicine, but it's important that there is a distinction between the two topics. Pharmaceuticals is one of the most-researched fields in the academic industry, but the history surrounding that particular topic is sparse compared to the impact its made world-wide. Before the advent of pharmacists, there existed apothecaries that worked alongside priests and physicians in regard to patient care.
</p>
<img src="{% static 'img/pharmacology1.jpg' %}" alt="">

<br>
<br>
<h2 style="color: #0fb3cf;">
    Prehistoric Pharmacy
</h2>
<br>
<p>
    Paleopharmacological studies attest to the use of medicinal plants in pre-history. For example, herbs were discovered in the Shanidar Cave, and remains of the areca nut (Areca catechu) in the Spirit Cave. Prehistoric man learned pharmaceutical techniques through instinct, by watching birds and beasts, and using cool water, leaves, dirt, or mud as a soothing agent.
</p>
<br>
<h2 style="color: #0fb3cf;">
    Antiquity
</h2>
<br>
<h4 style="text-align: left;margin-left: 10px">
    -Mesopotamia and Egypt
</h4>
<br>
<p>
    Sumerian cuneiform tablets record prescriptions for medicine. Ancient Egyptian pharmacological knowledge was recorded in various papyri such as the Ebers Papyrus of 1550 BC and it included a 1,100 page document about 800 prescriptions using 700 drugs mostly derived from plants, and the Edwin Smith Papyrus of the 16th century BC.

The very beginnings or pharmaceutical texts were written on clay tablets by Mesopotamians. Some texts included formulas, instructions via pulverization, infusion, boiling, filtering and spreading; herbs were mentioned as well. Babylon, a state within Mesopotamia, provided the earliest known practice of running an apothecary i.e. pharmacy. Alongside the ill person included a priest, physician, and a pharmacist to tend to their needs.
</p>
<h4 style="text-align: left;margin-left: 10px">
    -Greece
</h4>
<br>
<p>
    In Ancient Greece, there existed a separation between physician and herbalist. The duties of the herbalist was to supply physicians with raw materials, including plants, to make medicines.[7] According to Edward Kremers and Glenn Sonnedecker, "before, during and after the time of Hippocrates there was a group of experts in medicinal plants. Probably the most important representative of these rhizotomoi was Diocles of Carystus (4th century BC). He is considered to be the source for all Greek pharmacotherapeutic treatises between the time of Theophrastus and Dioscorides.

From 60 and 78 AD, the Greek physician Pedanius Dioscorides wrote a five volume book, De Materia Medica, covering over 600 plants and coining the term materia medica. It formed the basis for many medieval texts, and was built upon by many middle eastern scientists during the Islamic Golden Age.
</p>
<img src="{% static 'img/pharmacology2.jpg' %}" alt="" style="width: 450px;height:450px;">
<br>
<br>
<h4 style=" text-align: left; margin-left: 10px;">
    -Asia
</h4>
<br>
<p>
    The earliest known Chinese manual on materia medica is the Shennong Bencao Jing (The Divine Farmer's Herb-Root Classic), dating back to the 1st century AD. It was compiled during the Han dynasty and was attributed to the mythical Shennong. Earlier literature included lists of prescriptions for specific ailments, exemplified by a manuscript "Recipes for 52 Ailments", found in the Mawangdui, sealed in 168 BC. Further details on Chinese pharmacy can be found in the Pharmacy in China article.

The earliest known compilation of medicinal substances in Indian traditional medicine dates to the 3rd or 4th century AD )(attributed to Sushruta, who is recorded as a physician of the 6th century BC).

There is a stone sign for a pharmacy with a tripod, a mortar, and a pestle opposite one for a doctor in the Arcadian Way in Ephesus, Turkey.[citation needed]

In Japan, at the end of the Asuka period (538-710) and the early Nara period (710-794), the men who fulfilled roles similar to those of modern pharmacists were highly respected. The place of pharmacists in society was expressly defined in the Taihō Code (701) and re-stated in the Yōrō Code (718). Ranked positions in the pre-Heian Imperial court were established; and this organizational structure remained largely intact until the Meiji Restoration (1868). In this highly stable hierarchy, the pharmacists—and even pharmacist assistants—were assigned status superior to all others in health-related fields such as physicians and acupuncturists. In the Imperial household, the pharmacist was even ranked above the two personal physicians of the Emperor.
</p>

</center>
{% endblock  %}